h1 {
  text-align: left;
  font-family: "Times New Roman", Times, serif !important;
  font-size: 20pt !important;
  color: #CCCCFF !important;
  font-weight: bold !important;
  margin-bottom: 0 !important;
}

body {
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11pt;
  color: black;
}

p {
  text-align: left;
  font-family: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11pt;
  color: black;
}

img {
  max-width: 200px;
  height: auto;
}

.keetay {
  margin-left: 100px !important;
  margin-top: -60px !important;
}

.image-left {
  border: 0;
  float: left;
  padding-right: 7%;
}

.img-keetay {
  max-width: 100px;
  height: auto;
  padding-right: 3%;
  border: 0;
  float: left;
}

.img-tulips {
  max-width: 270px;
  height: auto;
  padding-right: 3%;
  border: 0;
  float: left;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
}

.container-projects img {
  max-width: 80%;
  height: auto;
  text-align: center;
}

/* unvisited link */
a:link {
  color: black !important;
  text-decoration: underline !important;
  text-align: left !important;
  font-family: Avenir, Sans-Serif !important;
  font-size: 11pt !important;
}

/* visited link */
a:visited {
  color: black !important;
  text-decoration: underline !important;
}

/* mouse over link */
a:hover {
  color: #CCCCFF !important;
  text-decoration: underline !important;
}

/* selected link */
a:active {
  color: #CCCCFF !important;
  text-decoration: underline !important;
}

/* Add a black background color to the top navigation */
.topnav {
  position: fixed !important;
  color: black !important;
  margin: 2rem !important;
  overflow: hidden !important;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left !important;
  color: black !important;
  text-align: center !important;
  padding: 8px 12px !important;
  text-decoration: none !important;
  font-family: 1em Helvetica Neue, Helvetica, Arial, sans-serif !important;
  font-size: 11pt !important;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #CCCCFF !important;
  color: white !important;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #CCCCFF !important;
  color: white !important;
}

/* black navigation color for projects */
#projects {
  position: fixed;
  margin: 2rem;
  overflow: hidden;
}

#projects a {
  float: left;
  color: black;
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-family: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11pt;
}

#projects a:hover {
  background-color: black !important;
  color: white !important;
}

#projects a.active {
  background-color: black !important;
  color: white !important;
}

body {
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0 0 1em 0;
}

.container {
  margin-left: 0 !important;
}

.container-index {
  padding: 100px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 70vw;
  height: 70vh;
}

.item-index {
  padding: 10px;
  background-color: none;
  border: 1.5px solid none;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-contact {
  padding: 100px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 70vw;
  height: 80vh;
}

.item-contact {
  padding: 100px;
  background-color: none;
  border: 1.5px solid none;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-currently {
  padding: 100px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 70vw;
  height: 80vh;
}

.item-currently {
  padding: 10px;
  background-color: none;
  border: 1.5px solid none;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container-projects {
  padding: 50px;
  padding-top: 100px;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100vw;
  height: 80vh;
}

.item-projects {
  padding: 0px;
  background-color: none;
  border: 1.5px solid none;
  width: 130vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

/* Button (open modal) */
.button {
  background-color: white;
  border: 0px;
  color: none;
  padding: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: none;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 50%;
  top: 50%;
  background-color: #CCCCFF;
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto;
  padding: 15px;
  border: 1px solid black;
  width: 80%;
  height: 660px;
  overflow: scroll;
  font-family: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 11pt;
  color: black;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 50px;
  right: 170px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .container-index {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .container-contact {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .container-currently {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
  .container-projects {
    padding: 10px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
  }
  .close {
    top: 7px;
    right: 50px;
  }
  .img-tulips {
    width: 210px;
    margin-top: 30px !important;
    margin-left: -25px !important;
  }
  .col-10, .col-6, .img-keetay, .img-tulips {
    margin: auto;
    margin-top: 70px;
  }
  #images {
    width: 340px;
    margin-top: 70px;
  }
  .topnav a {
    font-size: 11pt !important;
    text-align: justify;
  }
  .item {
    padding: 1px;
    background-color: none;
    border: 2.5px solid none;
    width: 90vw !important;
  }
  .item h1 {
    font-size: 4.5rem !important;
  }
  .item h1 p {
    font-size: 11pt !important;
    text-align: justify;
  }
  .item h1 p a {
    font-size: 2.5rem !important;
    text-align: justify;
  }
  .item h1 p a img {
    max-width: 390px;
  }
}
/*# sourceMappingURL=style.css.map */